.product{
    display:flex;
}
.for-img{
    margin-right:20px;
    margin-bottom: 10px;
}
.for-name{
    font-size: 10px;
}

.name-button{
    width:150 px;
    background-color: goldenrod;
    border:1 px solid black;
    border-radius:5px ;
    cursor: pointer;
}